:root,
:root[data-theme='light'] {
  color-scheme: light;
  --color-bg: #f3f4f8;
  --color-surface: #ffffff;
  --color-text: #20253b;
  --color-muted: #646b80;
  --color-border: #e0e3ee;
  --color-soft: #eef0f7;
  --color-accent: #c9f36b;
  --color-on-accent: #253313;
  --color-button: #292e4c;
  --color-on-button: #fffefa;
  --color-lavender: #eeebfc;
  --color-error: #aa423c;
  --color-focus: #6557bd;
  --color-hero: #282744;
  --color-on-hero: #f8f7ff;
  --shadow-panel: 0 8px 32px #20253b06;
  --color-violet: #6852ae;
  --color-rose: #b44b60;
  --color-blue: #32759a;
  --color-amber: #926521;
  --color-green: #30795d;
  --shadow-dialog: 0 24px 100px #111a1933;
  --radius-sm: 12px;
  --radius-md: 22px;
  --radius-lg: 32px;
  --font-body: 'Manrope Variable', sans-serif;
  --font-display: 'Unbounded Variable', sans-serif;
}

:root[data-theme='dark'] {
  color-scheme: dark;
  --color-bg: #131624;
  --color-surface: #1c2133;
  --color-text: #f1f1fb;
  --color-muted: #adb5cf;
  --color-border: #343b54;
  --color-soft: #252c42;
  --color-accent: #c9f36b;
  --color-on-accent: #253313;
  --color-button: #c9f36b;
  --color-on-button: #253313;
  --color-lavender: #302b4a;
  --color-error: #ffaaa1;
  --color-focus: #c9f36b;
  --color-hero: #302b4c;
  --color-on-hero: #f8f7ff;
  --shadow-panel: 0 8px 32px #0002;
  --color-violet: #c0aaff;
  --color-rose: #f19ba8;
  --color-blue: #89c9ee;
  --color-amber: #e6bf7d;
  --color-green: #8dd7b4;
  --shadow-dialog: 0 24px 100px #0009;
}
